{% extends 'base.html' %}

{% block body %}

{% if filename %}
	<div style="margin: 10px auto;">
		<video autoplay="autoplay" controls="controls" preload="preload">
			<source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4"></source>
		</video>
	</div>
{% endif %}
<form method="post" enctype="multipart/form-data">
    <dl>
      <p>
        <input type="hidden" name="user_id" value="{{current_user.id}}">
      </p>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Upload">
	</p>
</form>
{% endblock body %}